.main__header {
  width: 100%;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 0.5rem;
}
.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.main__header-left {
  margin-top: 0rem;
}
.main__header-left h2 {
  margin-bottom: 1rem;
  color: rgb(234, 136, 136);
  font-weight: 800;
}

.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.5rem;
}
.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}
.main__header-circle {
  width: 16rem;
  height: 15rem;
  background: linear-gradient(25deg, #fff, transparent);
  border-radius: 50%;
  position: absolute;
  filter: blur(15px);
  transition: var(--transition);
}
.main__header-image {
 margin-right:10rem ;
  width: 25rem;
  height: 20rem;
  position: absolute;
  border-radius: 60%;
  backface-visibility: inherit;
}
.main__header-image .header-img {
  width: 25rem;
  border-radius: 10%;
  background-origin: content-box;
}
.main__header-circle:hover {
  filter: blur(15px);
  background-color: rgb(202, 163, 163);
}

/* Programs */
.programs {
  margin-top: 4rem;
}
.programs__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.programs__program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs__program:hover a {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

/* Values */
.values__container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}
.values__left {
  height: 10px;
}
.values__image {
  height: 100%;
  max-height: 70vw;
  filter: saturate(0.25);
  transition: var(--transition);
}
.values__image:hover {
  filter: saturate(2);
}
.values__right > p {
  margin: 1.5rem 0 5rem;
}
.values__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}
.values_value {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}
.values_value span {
  position: absolute;
  top: -1.5rem;
}

/* FAQs */
.faqs__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
}
.faq {
  background: var(--color-gray-500);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__icon {
  background: transparent;
  color: var(--color-gray-100);
  font-size: 1.5rem;
}
.faq p {
  margin-top: 1.5rem;
}

/* Testimonals */
.testimonials {
  width: 50rem;
  margin-inline: auto;
}
.testimonials__head {
  justify-content: center;
}
.card.testimonial {
  position: relative;
  text-align: left;
  margin-top: 5rem;
}
.testimonial__avatar {
  width: 4rem;
  height: 4rem;
  filter: saturate(0.8s);
  border: 2px solid transparent;
  border-radius: 1.5rem;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);

  box-shadow: 0 1.5rem 2rem rgb(26, 26, 54, 0.4);
}

.testimonial__avatar:hover {
  border-radius: 1.5rem;
  border-color: var(--color-gray-400) transparent;
  filter: saturate(1.5);
  transition: calc(--transition);
}
.testimonial__quote {
  font-style: italic;
  margin: 1rem 0 2rem;
}

.card small.testimonial__title {
  margin-top: 0.3rem;
}
.testimonails__btn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
}
.testimonials__btn {
  background: transparent;
  cursor: pointer;
}
.testimonials__btn svg {
  fill: bisque;
  font-size: 1.8rem;
  width: 2rem;
  height: 3rem;
}

/* Footer */

footer {
  background: var(--color-primary);
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}

.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
}
.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}
.footer__container article p {
  margin-top: 0.5rem;
}
.footer__container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.footer_socials {
  margin-top: 1.5rem;
  display: flex;

  align-items: center;
}
.footer__socials a {
  background: var(--color-gray-100);
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  transition: var(--transition);

  margin-right: 1rem;
}
.footer__socials a svg {
  color: var(--color-gray-600);
}
.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background-color: #fff;
}

.footer__copyright {
  margin-top: 1rem;
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid var(--color-primary-variant);
}

/* ================Responsive Format ===============*/
@media screen and (max-width: 1024px) {
  /* Main Header */
  .main__header {
    height: fit-content;
    padding: 12rem 0;
    grid-template-columns: 1fr;
  }
  .main__header-container {
    gap: 0;
  }
  .main__header-circle {
    width: 10rem;
    height: 20rem;
  }
  .main__header-image .header-img{
    width: 15rem;
    height: 25rem;
    margin-left: 12rem;
   }

  /* Program */
  .programm__wrapper {
    grid-template-columns: 1fr;
  }

  /* Values */
  .values__container {
    width: 80%;
    grid-template-columns: 1fr;
    justify-content: center;

    gap: 4rem;
  }

  .values__wrapper {
    gap: 4rem 4rem;
  }

  .values__image {
    display: none;
  }

  /* FAQ */
  .faqs__wrapper {
    grid-template-columns: 1fr;
  }

  /* Testimonials */
  .testimonials {
    width: 90%;
    grid-template-columns: 1fr;
  }
  /* Footer */
  .footer__container {
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .main__header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }
  .main__header-image,
  .main__header-circle {
    display: none;
  }
  .main__header-container {
    grid-template-columns: 1fr;
  }

  .programs__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
  .programs__program {
    width: 84%;
    margin: 0 auto;
  }

  .values__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .card.values_value {
    width: 84%;
    margin-inline: auto;
  }

  .faqs__wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }

  .testimonials {
    width: 90%;
  }

  footer {
    margin-top: 7rem;
  }
  .footer__container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer__container article{
    align-items: center
  }
  .footer__container p{
    text-align: center;
  }
}
